*{
  margin: 0;
  padding: 0;
}

body{
  overflow: auto;
  weight: 100%;
  height: 100%;
}
.container-fluid{
  margin-left: -15px;
  margin-right: -15px;
}

.display{
  width: 200px;
  height: 50px;
  color: solid green;
}
